::-moz-selection, ::selection {
  background: transparent;
}

#sidebar-nav {
  a {
    color: white;
    text-decoration: none;
  }

  ul {
    list-style-type: none;
  }
}

#background {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  /* background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/544318/hot-air-balloons.jpg"); */
  background-size: cover;
  background-position: center center;
  opacity: 0.2;
  background-color: #1c0000;
}

#fab {
  position: fixed;
  z-index: 1;
  right: 30px;
  bottom: 30px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #f55e22;
  box-shadow: 0 2px 8px #3f3f3f;
  text-align: center;
  line-height: 60px;
  font-size: 1.75em;
  cursor: pointer;
  &:active {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}

#page-header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 60px;
  width: 100vw;
  background-color: #0a94ab;
  box-shadow: 0 -3px 8px 5px #3f3f3f;
  #hamburger {
    position: relative;
    display: block;
    top: 15px;
    left: 15px;
    height: 30px;
    width: 30px;
    .line {
      position: absolute;
      display: block;
      left: 5px;
      height: 2px;
      background-color: white;
      &:first-of-type {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
        width: 20px;
      }
      &:nth-of-type(2) {
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
        width: 18px;
      }
      &:last-of-type {
        -webkit-transform: translateY(22px);
        transform: translateY(22px);
        width: 16px;
      }
    }
    &:active .line {
      &:first-of-type {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
      }
      &:last-of-type {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
      }
    }
  }
}

#sidebar-nav {
  position: fixed;
  z-index: 3;
  top: 0;
  height: 115%;
  width: 15rem;
  background-color: #efefef;
  box-shadow: 0 0 0 0 #3f3f3f;
  -webkit-transform: translateX(-400px);
  transform: translateX(-400px);
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  right: 0rem;
  left: 0rem;
  bottom: 0rem;
  #sidebar-header {
    position: relative;
    height: 200px;
    width: 100%;
    background-color: #0a94ab;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/544318/material-header.jpg");
    background-size: cover;
    #codepen-link {
      position: relative;
      display: block;
      top: 30px;
      left: 30px;
      height: 80px;
      width: 80px;
      z-index: 10;
      border-radius: 50%;
      box-sizing: border-box;
      background-image: url("https://randomuser.me/api/portraits/men/35.jpg");
      background-position: center center;
      background-size: cover;
      opacity: 0.6;
      transition: all 0.25s;
      &:hover {
        opacity: 1;
        box-shadow: 0 2px 6px #0f0f0f;
      }
    }
    #profile-info {
      position: relative;
      top: 15px;
      padding: 30px;
      #profile-name {
        font-size: 1.5em;
        margin-bottom: 5px;
      }
    }
    #btn-more {
      position: absolute;
      top: 20px;
      right: 20px;
      padding: 5px;
      cursor: pointer;
      .dot {
        display: block;
        height: 4px;
        width: 4px;
        border-radius: 50%;
        margin-bottom: 5px;
        background-color: white;
      }
    }
  }
  #sidebar-nav-list {
    position: relative;
    background-color: #efefef;
    padding-left: 0rem;
    .sidebar-nav-item {
      position: relative;
      z-index: 4;
      box-shadow: 0 2px 4px transparent;
      opacity: 0;
      -webkit-transform: translateX(-30px);
      transform: translateX(-30px);
      transition: all 0.25s ease-in-out;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      background-color: #efefef;
      a {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        padding: 20px 0 20px 30px;
        color: #3f3f3f;
        .material-icons {
          padding: 0 8px 2px 0;
          color: #f55e22;
        }
      }
      &:hover {
        z-index: 5;
        background-color: white;
        box-shadow: 0 2px 4px #6f6f6f;
      }
      &:nth-child(1) {
        -webkit-animation-delay: 0.05s;
        animation-delay: 0.05s;
      }
      &:nth-child(2) {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
      }
      &:nth-child(3) {
        -webkit-animation-delay: 0.15s;
        animation-delay: 0.15s;
      }
      &:nth-child(4) {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
      }
      &:nth-child(5) {
        -webkit-animation-delay: 0.25s;
        animation-delay: 0.25s;
      }
      &:nth-child(6) {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
      }
      &:nth-child(7) {
        -webkit-animation-delay: 0.35s;
        animation-delay: 0.35s;
      }
      &:nth-child(8) {
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
      }
    }
  }
  &:target {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    box-shadow: -4px 0 12px 6px #3f3f3f;
    .sidebar-nav-item {
      -webkit-animation: nav-item-fade-in 1s ease-in-out;
      animation: nav-item-fade-in 1s ease-in-out;
    }
    + #nav-screen-overlay {
      display: block;
      pointer-events: auto;
      opacity: 0.3;
    }
  }
}

#nav-screen-overlay {
  top: 0rem;
  position: fixed;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  background-color: #0f0f0f;
  opacity: 0;
  cursor: default;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
}

@-webkit-keyframes nav-item-fade-in {
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}


@keyframes nav-item-fade-in {
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}